@font-face {
  font-family: "Mont";
  font-weight: 600;
  font-style: normal;
  src: local("Mont"),
    url("../fonts/Mont-SemiBold.woff2") format("woff2"),
    url("../fonts/Mont-SemiBold.woff") format("woff"),
    url("../fonts/Mont-SemiBold.eot") format("eot");
  font-display: swap;
}

@font-face {
  font-family: "Mont";
  font-weight: 800;
  font-style: normal;
  src: local("Mont"),
    url("../fonts/Mont-Heavy.woff2") format("woff2"),
    url("../fonts/Mont-Heavy.woff") format("woff"),
    url("../fonts/Mont-Heavy.eot") format("eot");
  font-display: swap;
}

