@charset "UTF-8";
/*=================================Обнуление===============================*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

/*=====================================================================*/
body {
  font-family: Mont, sans-serif;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  background: url("../images/fon.jpg") 0 0/100% no-repeat;
}

.container {
  max-width: 1054px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  padding: 21px 25px 22px 26px;
  border: 1px solid #43AAFF;
  border-radius: 100px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.button:hover {
  background-color: #43AAFF;
  color: #fff;
}

/*=====================================================================*/
.header {
  color: #4B5258;
}

.header__top {
  margin-top: 18px;
}

.header__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 154px;
}

.header__contact {
  margin-right: 45px;
  white-space: nowrap;
}

.header__contact-number {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: #4B5258;
}

.header__contact-time {
  text-align: end;
  font-size: 14px;
  font-weight: 600;
  color: #959A9D;
  position: relative;
}
.header__contact-time::before {
  content: "";
  position: absolute;
  top: 25%;
  left: 10px;
  width: 8px;
  height: 8px;
  background: url("../images/icons/dot-icon.svg") 0 0/100% no-repeat;
}

.header__socials {
  margin-right: 50px;
  text-align: end;
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.header__socials p {
  width: 140px;
  margin-right: 15px;
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
}
.header__socials a {
  margin-right: 10px;
}
.header__socials a:last-child {
  margin-right: 0;
}

.header__main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__heading {
  margin-top: 83px;
}

.header__title {
  font-weight: 800;
  font-size: 30px;
  line-height: 150%;
  max-width: 565px;
  margin-bottom: 36px;
  position: relative;
}

.header__title-fw600 {
  font-weight: 600;
}

.header__title-fz18 {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  margin-left: 54px;
}
.header__title-fz18::before {
  content: "";
  position: absolute;
  top: 116px;
  left: 156px;
  width: 30px;
  height: 2px;
  background: url("../images/icons/dash.svg") 0 0/100% no-repeat;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  max-width: 453px;
  margin-bottom: 50px;
}

.header__btn-box {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 600;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #fff;
}

.header__btn {
  background: #43AAFF;
  -webkit-box-shadow: inset 0px 4px 10px rgba(255, 255, 255, 0.3);
          box-shadow: inset 0px 4px 10px rgba(255, 255, 255, 0.3);
  border-radius: 100px;
  padding: 30px 30px 30px 30px;
  margin-right: 15px;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.header__btn:last-child {
  margin-right: 0;
}
.header__btn:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}

.btn-orange {
  background: #FFC24D;
  -webkit-box-shadow: inset 0px 4px 10px rgba(255, 255, 255, 0.3);
          box-shadow: inset 0px 4px 10px rgba(255, 255, 255, 0.3);
  border-radius: 100px;
}

.header__info {
  background: #FFFFFF;
  border-radius: 20px;
  width: 178px;
  height: 75px;
  position: absolute;
  top: 290px;
  right: 20px;
}
.header__info p {
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  line-height: 140%;
  padding-top: 17px;
}
.header__info span {
  color: #43AAFF;
}
.header__info::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 45%;
  background: url("../images/icons/dot-blue.svg") 0 0/100% no-repeat;
  width: 20px;
  height: 20px;
  -webkit-box-shadow: 0px 2px 5px 0px #43AAFF;
          box-shadow: 0px 2px 5px 0px #43AAFF;
  border-radius: 50%;
  background-color: #43AAFF;
}

.header__bullets {
  margin-top: 227px;
}

.header__nav {
  -webkit-box-shadow: 0px 0px 20px rgba(29, 31, 33, 0.1215686275);
          box-shadow: 0px 0px 20px rgba(29, 31, 33, 0.1215686275);
  border-radius: 100px;
  margin-top: 22px;
  margin-bottom: 180px;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  text-align: right;
}

.header__nav-link {
  padding: 29px 30px 28px 30px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 100px;
}
.header__nav-link:first-child {
  padding: 29px 50px 28px 50px;
}
.header__nav-link:last-child {
  padding: 29px 50px 28px 50px;
}
.header__nav-link:hover {
  background: #43AAFF;
  border-radius: 100px;
  color: #fff;
}