@import "reset";
@import "vars";

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1054px;
  padding: 0 15px 0 15px;
  margin: 0 auto; 
}

.logo {
}
/*=====================================================================*/
body {
  font-family: Mont, sans-serif;
}

.header {
  color: $dark-gray-color-text;
}
.header__top {
  margin-top: 18px;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  margin-right: 154px;
}

.header__contact {
  margin-right: 45px;
  white-space: nowrap;
}

.header__contact-number {
  font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: $dark-gray-color-text;

}

.header__contact-time {
  text-align: end;
  font-size: 14px;
  font-weight: 600;
  color: $gray-color-text;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 25%;
    left: 10px;
    width: 8px;
    height: 8px;
    background: url("../images/icons/dot-icon.svg") 0 0 / 100% no-repeat;
  }
}

.header__socials {
  margin-right: 50px;
  text-align: end;
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  display: flex;
  position: relative;
  p {
    width: 140px;
    margin-right: 15px;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
  }
  a {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  
}
.header__button {
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  padding: 21px 25px 22px 26px;
  border: 1px solid #43AAFF;
  border-radius: 100px;
  transition: all .4s;
  &:hover {
    background-color: #43AAFF;
    color: #fff ;
  }
}
.header__body {
}
